<!DOCTYPE html>
<html>
  <head>

    <meta property="og:title" content="Mobinhood" />
    <meta property="og:description"
      content="Inspired by the well-known investing app, Robinhood, Mobinhood is a stock trading application that allows users to purchase, sell, and keep track of stocks."
    />


    <title>Mobinhood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    

  </head>

  <body>
    <%= yield %>
  </body>
</html>